@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

.dark {
  --background: #111827;
  --foreground: #f9fafb;
}

body {
  background-color: var(--background) !important;
  color: var(--foreground);
}
